.app-textarea-wrapper {
    // resize: none;
    // width: 100%;
    // display: block;
    position: relative;
    // padding-top: 20px;
    // padding-left: 10px;
    // border-radius: 3px;
    // min-height: 45px;
    // background-color: var(--white);
    // border: 1px solid var(--dark-super-light);

    .app-text-area-field {
        resize: none;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 3px;
        min-height: 45px;
        background-color: var(--white);
        border: 1px solid var(--dark-super-light);

        @at-root [readonly] {
            cursor: no-drop;
        }

        &.text-area-disabled {
            color: var(--tertiary-grey);
            border: 1px solid var(--tertiary-grey);
        }

        &.border-bottom-only {
            border-top: transparent;
            border-right: transparent;
            border-left: transparent;
            border-radius: 0;
            background-color: transparent;
            //Borrar outline
            outline: none;
        }
    }
}

.app-floating-label {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    label {
        &.ui-label-float {
            font-size: 14px;
            opacity: 0.9;
            pointer-events: none;
            position: absolute;
            top: 5px;
            left: 10px;
            transform: translate3d(0, 0, 0) scale(1);
            transform-origin: left top;
            transition: transform ease 0.2s;
        }
        &.label-disabled {
            color: var(--tertiary-grey);
        }
    }
    &.is-focused label {
        opacity: 0.8;
        transform: translateY(-0px) scale(0.65);
    }
}
