.va-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__img {
        width: 100%;
        
        &.circle{
            border-radius: 100%;
        }
    }

    &__initials {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }

    &--truncate{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    //Variants
    &--action {
        cursor: pointer;
    }

    &--rounded {
        border-radius: 100%;
    }

    &--bordered{
        border: 1.5px solid;
        padding: .050rem;
    }
}
