.b-radius{
    border-radius: var(--va-radius-md);

    &--xs{
        border-radius: var(--va-radius-xs);
    }

    &--sm{
        border-radius: var(--va-radius-sm);
    }

    &--lg{
        border-radius: var(--va-radius-lg);
    }

    &--xl{
        border-radius: var(--va-radius-xl);
    }
}