:root {
    //Refactor tokens:

    /* Colors */
    --va-white: #ffffff;
    --va-black: #000000;

    --va-darken-300: #8a8a8a;
    --va-darken-400: #4e4e4e;
    --va-darken: #333333;

    --va-accent-300: #28ace9;
    --va-accent: #1a759f;
    --va-accent-500: #186b92;

    --va-neutral: #edf6f9;
    --va-neutral-500: #e4e4e4;
    --va-neutral-600: #d9dbdb;
    --va-neutral-700: #caccce;
    --va-neutral-800: #adb5bd;
    --va-neutral-900: #9fa5ab;

    --va-neutral-600-rgb: 217, 219, 219;
    --va-neutral-800-rgb: 173, 181, 189;

    /* Colores de estado */
    --va-info: #41a1d4;
    --va-success: #3bc53b;
    --va-warning: #fdab11;
    --va-danger: #eb3636;
    --va-disabled: #adb5bd;

    /* Shadow Colors*/
    --va-shadhow-black-alpha-02: rgba(0, 0, 0, 0.2);
    --va-shadhow-black-alpha-012: rgba(0, 0, 0, 0.12);
    --va-shadhow-black-alpha-014: rgba(0, 0, 0, 0.14);
    
    --va-shadow-accent-alpha-01: rgba(26, 117, 159, .1);
    --va-shadow-accent-alpha-03: rgba(26, 117, 159, .3);

    /* Border */
    --va-radius-xs: 3px;
    --va-radius-sm: 5px;
    --va-radius-md: 8px;
    --va-radius-lg: 12px;
    --va-radius-xl: 25px;

    /* Miscelania */
    --va-input-min-height: 55px;

}
