.app-dropdown{
    display: inline-block;
    position: relative;
    padding: .5rem .75rem;
    cursor: pointer;
    border: 1px solid var(--dark-300);
    border-radius: 3px;
    background-color: var(--white);

    &__list{
        padding: 0;
        margin: 0;
        text-align: left;
        position: absolute;
        min-width: 100%;
        width: max-content;
        background-color: var(--white);

        &.top{
            left: 0;
            bottom: 100%;
        }

        &.bottom{
            left: 0;
            top: 100%;
        }

        &.right{
            left: 100%;
            top: 0;
        }

        &.left{
            right: 100%;
            top: 0;
        }

        // border: 1px solid;
    }

    &__item{
        border: 1px solid var(--dark-300);
        border-bottom: 0;

        &:hover{
            background-color: var(--neutral);
        }

        &:last-of-type{
            border-bottom: 1px solid var(--dark-300);
        }

        &.top:first-of-type{
            border-radius: 3px 3px 0 0;
        }

        &.bottom:last-of-type{
            border-radius: 0 0 3px 3px;
        }

        &.right:last-of-type{
            border-radius: 0 0 3px 3px;
        }

        &.left:last-of-type{
            border-radius: 0 0 3px 3px;
        }
    }

    .app-link{
        padding: .5rem .75rem;
        justify-content: left;
        width: 100%;
    }
}