.va-tooltip{
    $distance: 6px;
    $borderWidht: 5px;
    $block: '.va-tooltip';
    position: relative;
    display: inline-block;
    // width: auto;

    // &:hover{
    //     #{$block}__content{
    //         opacity: 1;
    //     }
    // }

    &.active{
        #{$block}__content{
            opacity: 1;
        }
    }

    &__content{
        position: absolute;
        width: max-content;
        max-width: 180px;
        padding: .35rem;
        background-color: var(--va-darken-400);
        color: var(--va-white);
        border-radius: 0.25rem;
        font-size: 12px;
        text-align: center;
        opacity: 0;
        transition: opacity .2s ease-out;

        &::after{
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            
        }
    }

    &--top{
        #{$block}__content{
            bottom: calc(100% + $distance);
            left: 50%;
            transform: translate(-50%, 0);

            &::after{
                top: 100%;
                left: 50%;
                border-width: $borderWidht $borderWidht 0 $borderWidht;
                border-color: var(--va-darken-400) transparent transparent transparent;
                transform: translate(-50%, 0);
            }
        }
    }

    &--bottom{
        #{$block}__content{
            top: calc(100% + $distance);
            left: 50%;
            transform: translate(-50%, 0);

            &::after{
                bottom: 100%;
                left: 50%;
                border-width: 0 $borderWidht $borderWidht $borderWidht;
                border-color: transparent transparent var(--va-darken-400) transparent;
                transform: translate(-50%, 0);
            }
        }
    }

    &--left{
        #{$block}__content{
            top: 50%;
            right: 100%;
            transform: translate(-$distance, -50%);

            &::after{
                top: 50%;
                left: 100%;
                border-width: $borderWidht 0 $borderWidht $borderWidht;
                border-color: transparent transparent transparent var(--va-darken-400);
                transform: translate(0, -50%);
            }
        }
    }

    &--right{
        #{$block}__content{
            top: 50%;
            left: 100%;
            transform: translate($distance, -50%);

            &::after{
                top: 50%;
                right: 100%;
                border-width: $borderWidht $borderWidht $borderWidht 0;
                border-color: transparent var(--va-darken-400) transparent transparent;
                transform: translate(0, -50%);
            }
        }
    }
}