.app-icon {
    position: relative;
    font-size: inherit;
    color: currentColor;
    overflow: hidden;
    transition: all 0.15s ease-in-out;

    //Variants
    &--rotate-180-deg {
        transform: rotate(-180deg);
    }
    &--primary {
        color: var(--primary-blue);
    }
    &--success {
        color: var(--success);
    }
    &--danger {
        color: var(--danger);
    }
    &--info {
        color: var(--warning);
    }
}
