.app-slider{
    width: 100%;
    overflow: hidden;
    //Borrar
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c2c2c2;
    min-height: 300px;

    // &__inner{
    //     display: flex;
    //     display: inline-flex;
    //     width: 100%;
    //     align-items: stretch;
    // }

    // &__item{
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid #c2c2c2;
        
    // }
}