.app-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    padding: 1.25rem;
    z-index: 99;
    transition: transform .3s ease-in-out;

    &.show-left{
        left: 0;
        transform: translate(-100%);
    }

    &.show-right{
        right: 0;
        transform: translate(100%);
    }

    &.show{
        transform: translate(0);
    }
}