.app-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: var(--neutral-600);
    margin-right: 3px;
    margin-left: 3px;

    &--rounded{
        border-radius: 25px;
    }

    &--squared{
        border-radius: 0;
    }

    &--soft-squared{
        border-radius: 3px;
    }

    &__text {
        pointer-events: none;
        font-size: 15px;
    }

    &__close {
        cursor: pointer;
    }

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}
