*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
}
