$grid-columns: 12;
$breakpoints: (
  sm: 960px,
  md: 1280px
);
.app-grid-flex{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .app-row{
        display: flex;
        flex-wrap: wrap;
    }

    .app-col{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;

        min-height: 20px;
        border: 1px solid;

        @for $i from 1 through $grid-columns{
            &--#{$i} {
                flex-basis: (100% / $grid-columns) * $i;
            }

            @each $breakpoint, $width in $breakpoints {
                @media (min-width: $width) {
                  &--#{$breakpoint}-#{$i} {
                    flex-basis: (100% / $grid-columns) * $i;
                  }
                }
            }
        }

    }
}