@import '../../../assets/scss/abstract/mixins/base';

.app-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__img {
        width: 100%;
        
        &.circle{
            border-radius: 100%;
        }
    }

    &__initials {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        strong {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }

    //Variants
    &--has-action {
        cursor: pointer;
    }

    &--rounded {
        border-radius: 100%;
    }

    &--primary {
        @include bgColor('primary');
        @include textColor('white');
    }

    &--orange {
        @include bgColor('orange');
        @include textColor('white');
    }
}
