.app-input-field {
    .app-input-icon {
        font-size: 1.2rem;
        position: absolute;
        top: 65%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;

        &.icon-float {
            top: 50%;
        }
    }
}
