.app-stepper{
    --active-step: var(--primary-blue);
    --stepper-progress-size: 0;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    // overflow-x: hidden;
    transition: all .6s ease-out;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        height: 2px;
        background-color: var(--tertiary-grey);
    }

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        height: 3px;
        transform: scaleX(var(--stepper-progress-size)) translateY(-50%);
        transform-origin: left;
        background-color: var(--active-step);
        z-index: 5;
        transition: all .6s ease-out;
    }

    &__item{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 6px;
        // border-radius: 100%;
        // overflow: hidden;
        position: relative;
        background-color: var(--white);
        z-index: 20;
    }

    &__label{
        display: none;
        position: absolute;
        font-size: 12px;

        &.top{
            bottom: 100%;
        }

        &.bottom{
            top: 100%
        }

        &.left{
            right: 100%;
        }

        &.right{
            left: 100%;
        }

        &.completed{
            border: 2px solid var(--active-step);
            background-color: var(--active-step);
            color: var(--white);
        }
    }

    &__action{
        width: 100%;
        height: 100%;
        padding: 0;
        line-height: 0;
        border: 2px solid;
        border-radius: 100%;
        background-color: var(--white);
        cursor: pointer;
        transition: all .3s ease-out;

        &:disabled{
            // color: var(--tertiary-grey);
            color: currentColor;
        }

        &.completed{
            border: 2px solid var(--active-step);
            background-color: var(--active-step);
            color: var(--white);
        }

        &.active{
            border: 2px solid var(--active-step);
            color: var(--active-step);
            // background-color: var(--white);
        }
    }

    button.app-button{
        border-radius: 100%;
    }

    @media (min-width: 768px){
        &__label{
            display: block;
            min-width: 200px;
            text-align: center;
        }
    }
}