.app-info-component{
    padding: .75rem;
    
    &__wrapper{
        padding: 1rem;
        margin-top: 2rem;
        // background-color: #35495E;
        border-radius: 15px;
        border: 1px solid #35495E;

        h3{
            font-size: 24px;
            margin-top: 0;
        }
    }

    @media (min-width: 992px){
        flex-grow: 1;
        
        &__wrapper{
            margin-top: 0;
        }
    }
}