.va-input {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 10px;
    border-radius: 3px;
    min-height: var(--va-input-min-height);
    background-color: var(--va-white);
    border: 1px solid var(--va-darken-300);

    @at-root [readonly] {
        cursor: no-drop;
    }

    &.disabled {
        color: var(--va-neutral-800);
        border: 1px solid var(--va-neutral-800);
    }

    &.hide-placeholder::placeholder {
        opacity: 0;
    }

    &.b-bottom {
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        border-bottom: 1px solid var(--va-darken-300);
        border-radius: 0;
        background-color: transparent;
        //Borrar outline
        outline: none;
    }

    &.has-errors{
        border: 1.75px solid var(--va-danger)
    }
}
