.va-progress {
    $block: '.va-progress';
    width: 100%;
    background-color: var(--bar-bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--progress-radius);
    height: .75em;
    z-index: 10;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: var(--progress-bg-color);
        transform: translateX(var(--progress-value));
        z-index: -1;
        transition: transform 1.2s ease-in-out;
    }

    &__counter{
        position: absolute;
        top: 0;
        left: 0;
        width: var(--progress-value);
        min-width: 30px;
        pointer-events: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: .9em;
        color: var(--text-color);
        z-index: 10;
        transition: width 1.2s ease-in-out;
    }

    &--xs{
        height: .75em;
        #{$block}__counter{
            font-size: 11px;
        }
    }

    &--sm{
        height: 1em;
        #{$block}__counter{
            font-size: 13px;
        }
    }

    &--md{
        height: 1.25em;
    }

    &--lg{
        height: 1.50em;
    }

    &--xl{
        height: 2em;
    }
}
