@import '../../../assets/scss/abstract/mixins/hover-current-color';
.app-button {
    @include hoverCurrentColor();
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-blue);
    color: var(--white);
    cursor: pointer;

    &--regular {
        padding: 10px 12px;
        line-height: 1.4;
    }

    &--small {
        padding: 4px 8px;
        line-height: 1.8;
    }

    &--big {
        padding: 8px 18px;
        line-height: 2.2;
    }

    &--full-width {
        display: flex;
        width: 100%;
    }

    &--icon-right{
        flex-direction: row;
    }

    &--icon-left{
        flex-direction: row-reverse;
    }

    &--round-regular{
        border-radius: 100%;
        min-width: 45px;
        min-height: 45px;
    }

    &--round-medium{
        border-radius: 100%;
        min-width: 50px;
        min-height: 50px;
    }

    &--round-big{
        border-radius: 100%;
        min-width: 60px;
        min-height: 60px;
    }

    &--pointers-none {
        pointer-events: none;
    }

    &:disabled{
        background-color: var(--disabled);
        cursor: initial;
    }

    .app-icon {
        color: currentColor;
        
        &.has-text-right{
            margin-right: 0.75rem;
        }

        &.has-text-left{
            margin-left: 0.75rem;
        }
    }
}
